* {
  padding: 0%;
  margin: 0%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Generic Text Styling */
p, span, h1 {
  font-family: 'Roboto', sans-serif;
}

.bold-txt {
  font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Course Navigation Page */
#navigation-page {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  background-color: blue;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Nav Bar */
.vertical-navigation-bar {
  /* background-color: black; */
  box-sizing: border-box;
  background-color: white;

  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;

  width: auto;
  max-width: 20%;
  height: 100vh;
}

#sweepstakes-logo {
  width: auto;
  height: 33.3vh;

  /* padding: 0px, 3%, 3%, 10px;
  border-bottom: 3px solid black; */
}

#navigation-info {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 24px;
  padding: 5% 12% 12% 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#info-icon {
  width: auto;
  min-height: 20px;
  max-height: 7%;
}

.info-txt {
  padding-bottom: 3%;
}

.start-course {
  box-sizing: border-box;
  background-color: #565656;
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;

  justify-content: space-around;
}

.ready-set-go {
  font-weight: 600;
  font-size: 50px;

  text-align: center;
  color: white;
}

#go-button {
  background-color: #466db4;
  margin-left: 2%;
  margin-right: 2%;

  height: fit-content;

  filter: drop-shadow(4px -6px 2px #454545);

}
/* -------------------------------------------------------------------------------------------------------------- */
/* Interactive Course Map Display */
#map-view {
  box-sizing: border-box;
  flex-grow: 0;

  height: auto;
  width: auto;

  display: flex;
  justify-content: center;
  background-color: #cad9a9;
}

#course-img {
  height: auto;
  width: 800px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Buggy Course */
#buggy-course {
  background-color:skyblue;

  overflow-x: scroll;

  width: 600vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  justify-content: end;
} 

.buggy-road {
  box-sizing: border-box;
  position: fixed;
  display: flex;

  /* fixing div to bottom left corner */
  bottom: 0;
  left: 0;

  width: 100%;
  height: 10%;

  background-color: #cad9a9;

  flex-grow: 0;
}