* {
  padding: 0%;
  margin: 0%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Generic Text Styling */
p, span, h1, h3 {
  font-family: 'Roboto', sans-serif;
}

.bold-txt {
  font-weight: bold;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Course Navigation Page */
#navigation-page {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  background-color: #779443;

  overflow-y: hidden;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Nav Bar */
.vertical-navigation-bar {
  /* background-color: black; */
  box-sizing: border-box;
  background-color: white;

  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;

  width: auto;
  max-width: 20%;
  height: 100vh;
}

#sweepstakes-logo {
  width: auto;
  height: 33.3vh;

  /* padding: 0px, 3%, 3%, 10px;
  border-bottom: 3px solid black; */
}

#navigation-info {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 24px;
  padding: 5% 12% 12% 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#info-icon {
  width: auto;
  min-height: 20px;
  max-height: 7%;
}

.info-txt {
  padding-bottom: 3%;
}

.start-course {
  box-sizing: border-box;
  background-color: #565656;
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;

  justify-content: space-around;
}

.ready-set-go {
  font-weight: 600;
  font-size: 50px;

  text-align: center;
  color: white;
}

a.button {
  text-decoration: none;
}

#go-button {
  background-color: #466db4;
  margin-left: 2%;
  margin-right: 2%;

  height: fit-content;

  filter: drop-shadow(4px 6px 2px #454545);
}

#go-button:hover {
  background-color: #6a8dc8;
}
/* -------------------------------------------------------------------------------------------------------------- */
/* Interactive Course Map Display */
#map-view {
  box-sizing: border-box;
  flex-grow: 1;

  height: auto;
  width: auto;

  display: flex;
  justify-content: center;

  position: relative;
}

#map-with-checkpoints {
  position: relative;
  width: fit-content;
  margin: auto;
}

#course-img {
  height: auto;
  width: 1200px;
}

.checkpoint-marker {
  position: absolute;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: black;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  filter: drop-shadow(2px 3px 1px #454545);
}

.checkpoint-marker:hover {
  background-color: #3b3b3b;
}

.marker-txt {
  color: white;

  font-weight: bold;
  font-size: 25px;
}

.map-overlay {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  position: absolute;

  left: 33.75%; 
  bottom: 30%;
  z-index: 10;

  /* width: 347px;
  height: 235px; */

  width: 27%;
  height: 20%;

  min-height: 200px;
  max-width: 300px;

  text-align: center;

  padding: 2%;

  background-color: #e8ebe3;

  justify-content: space-around;
  align-items: center;
}

.map-hover-title {
  font-size: 46px;
  font-weight: 900;

  border: solid;
  border-color: black;
  border-width: 0 0 3px 0;

  padding-bottom: 5%;
}

.map-hover-txt {
  width: 95%;

  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}

/* Setting Overlay Displays to None, Will Display When Hovering Over Respective Checkpoints */
#front-hill-ol, #free-roll-ol, #schenley-ol, #chute-ol, #back-hill-ol {
  display: none;
}

/* Positions of Specific Checkpoint Markers */
#marker-one {
  right: 6%;
  top: 14%;
}

#marker-two {
  right: 35%;
  top: 80%;
}

#marker-three {
  right: 80%;
  top: 63%;
}

#marker-four {
  right: 88%;
  top: 20%;
}

#marker-five {
  right: 35%;
  top: 25%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Buggy Course */
#buggy-course {
  background-color:skyblue;

  overflow-x: scroll;
  overflow-y: hidden;

  width: 600vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  justify-content: space-between;
} 

/* Header */
header {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  position: fixed;
  width: 100vw;
  height: 10vh;

  padding: 1vh;

  justify-content: space-between;
}

#sweepstakes-logo-header {
  box-sizing: border-box;
  height: 100%;
  width: auto;

  flex-shrink: 0;
}

.position-animation {
  flex-grow: 1;

  /* background-color: #466db4; */
}

.location-txt {
  box-sizing: border-box;
  /* height: 100%; */
  padding-top: 2%;
  padding-bottom: 2%;
  
  text-align: center;
  font-size: 100%;
  font-weight: normal;
  color: white;

  padding-left: 1vw;
  padding-right: 1vw;
}

/* General Content Styling */
.display-content {
  box-sizing: border-box;

  padding-top: 10vh;
  width: fit-content;
  height: 90vh;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  background-color: #9ea295;

  overflow-x: scroll;
  overflow-y: hidden;

  /* Remove Bottom Scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Removes bottom scrollbar from Display Content in Chrome, Opera, and Safari 
  Code Source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
.display-content::-webkit-scrollbar {
  display: none; 
}

.begin-section {
  width: 30vw;
  height: inherit;

  text-align: center;

  padding-left: auto;
  padding-right: auto;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.section-title {
  background-color: antiquewhite;
  box-sizing: border-box;

  width: fit-content;
  height: fit-content;

  padding: 2%;
  

  font-size: x-large;
  font-weight: bold;
}

.section-subtitle {
  padding: 2%;
  font-weight: 600;
}

.info-template {
  box-sizing: border-box;

  padding-top: 10vh;
  padding-left: 1%;
  padding-right: 1%;
  width: max-content;
  height: 80%;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;
  background-color:rgb(232, 232, 255);

  margin-bottom: 10%;
}

video {
  margin-bottom: 10%;
  max-height: 80%;
  min-width: 70%;
  width: auto;
}

.info-content {
  margin-bottom: 10%;
  height: 80%;
  width: 20vw;

  padding-right: 5%;
  
  
}
.info-title {
  font-size: larger;
  font-weight: bold;
  text-align: left;

  padding-bottom: 2%;
}

.info-img {
  height: 30%;
  float: left;

  padding-right: 2%;
  padding-bottom: 2%;
}

.info-txt {
  box-sizing: border-box;
  max-height: 80%;
}
/* Buggy Animation */
.buggy-road {
  box-sizing: border-box;
  position: relative;
  overflow-y: hidden;

  /* fixing div to bottom left corner
  bottom: 0;
  left: 0; */

  width: 100%;
  height: 10%;

  background-color: #cad9a9;

  flex-grow: 1;
  margin-bottom: 0px;
}

#buggy-ol {

}